<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing"
                    propagateActivity="true">
        <listeners>
          <add name="traceListener"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="d:\temp\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.serviceModel>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="30000"
           maxSizeOfMessageToLog="20000"/>
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WindsorWCFGames.Services.BackendService" behaviorConfiguration="DefaultBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/WindsorWCFGames/Backend"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/WindsorWCFGames/Backend" binding="basicHttpBinding" contract="WindsorWCFGames.Contracts.IBackendService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:8080/WindsorWCFGames/Backend" binding="basicHttpBinding" contract="WindsorWCFGames.Contracts.IBackendService" name="BackendService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
